<%- include('../../shared/header'); %>

<section class="container-hero sectionDetail">
        <div class="backgroundCover">
            <img src="<%- book.volumeInfo.imageLinks.thumbnail %>" alt="Capa do livro">
        
            <div class="transparencyEffect"></div>
        </div>
        
        <div class="headerInfo container row">
        
            <div class="bookCoverImage col-md-4">
                <div class="fixedImg">
                    <figure class="cover">
        
                        <img class=" img-fluid"
                            src="https://books.google.com/books/publisher/content/images/frontcover/<%- book.id %>?fife=w400-h600&source=gbs_api"
                            alt="Capa do livro">
        
                    </figure>
                </div>
            </div>
        
        
            <div class="bookInfo col-md-8">
        
                <div class="mainInfo">
                    <div>
                        <figure>

                            <blockquote class="blockquote">
                                <h1 class="title" style="margin-left: 6px;">
                                    <%- book.volumeInfo.title %>
                                </h1>
                            </blockquote>

                            <figcaption class="blockquote-footer subtitle" style="margin-left: 10px;">
                                <%- book.volumeInfo.authors %>
                            </figcaption>

                        </figure>
        
                    </div>
        
        
                    <div>
                        
                        <% for (let i=0; i < book.volumeInfo.averageRating; i++) { %>
                            <i class="fas fa-star ratingColor"></i>
                            <% } %>
        
                            <span class="rating">
                                <%- book.volumeInfo.averageRating %>
                            </span>
                    </div>
        
                    <div class="row infosBook">
                        <div class="col-lg-3 position-relative">
                            <h6 class="mb-3">
                                Preço
                            </h6>
        
        
                            <h6 class="fw-bold mb-0" style="margin-left: -8px !important;">
        
                                <span>
                                    <i class="fas fa-money-check-dollar  mb-2"></i>
                                    R$ <%- book.saleInfo.retailPrice.amount %>
                                </span>
        
                            </h6>
                            <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                        </div>
        
                        <div class="col-lg-3 position-relative">
                            <h6 class="mb-3">
                                Páginas
                            <h6 />
        
        
                            <h6 class="fw-bold mb-0" style="margin-left: -8px !important;">
        
                                <span>
                                    <i class="fas fa-book-open  mb-2"></i>
                                    <%- book.volumeInfo.pageCount %>
                                </span>
        
                            </h6>
                            <div class="vr vr-blurry position-absolute my-0 h-100 d-none d-md-block top-0 end-0"></div>
                        </div>
        
                        <div class="col-lg-3 position-relative">
                            <h6 class=" mb-3" >
                                Idioma
                            </h6>
        
        
                            <h6 class="fw-bold mb-0" style="margin-left: -8px !important;">
        
                                <span>
                                    <i class="fas fa-language  mb-2"></i>
                                    <%- book.volumeInfo.language %>
                                </span>
        
                            </h6>
        
                        </div>
        
                    </div>

                    <div>
                        <h6 class="fw-normal mb-3" style="margin-left: 10px;">
                            Categorias
                        </h6>
                        <% const categories=book.volumeInfo.categories[0].split('/') %>
                        
                        <% categories.forEach(category=> { %>
                            <a href="/book/categories/<%- category.trim().toLowerCase() %>">
                            <span class="badge chip">
                                    <%- category.trim() %>
                            </span>
                        </a>
                        <% }) %>
                    
                    </div>

                    <div class="readExampleDiv">
                        <div class="row" style="gap: 30px">
                            
                                <button 
                                type="button" 
                                class="btn btnReadExample col-lg-4" 
                                onclick="window.open('<%- book.accessInfo.webReaderLink %>', '_blank')"
                                >
                                    <span>Ler Amostra</span>
                                </button>
                    
                            <button type="button" class="btn btnReadExample  col-lg-4">
                                <span>Salvar na Biblioteca</span>
                            </button>
                        </div>
                    </div>
                </div>
        
        
            </div>
        
        </div>
</section>

<!-- <section class="container detailSection" style="background-color: #1a1b26;">
    <div class="note descriptionDiv  mb-3">
        <strong>Descrição:</strong>
        <%- book.volumeInfo.description %>
      </div>
      
</section> -->


