<div class="container-hero">
<form class="form d-flex"  action="/search" method="get">
    <label for="search">
        
        <input 
            required="" 
            autocomplete="on" 
            placeholder="BUSQUE LIVROS" 
            id="search" 
            name="q" 
            type="text"
            value="<%= query %>" />
      
      
            <div class="sec-center"> 	
                <input class="dropdown" type="checkbox" id="dropdown" name="dropdown"/>
                <label class="for-dropdown" for="dropdown">Filtrar Livros <i class="uil uil-arrow-down"></i></label>
                <div class="section-dropdown"> 
                    <a href="/search/1/<%= query %>" class="dropdownLink">A-Z <i class="uil uil-arrow-right"></i></a>
                    <input class="dropdown-sub" type="checkbox" id="dropdown-sub" name="dropdown-sub"/>
                    <!-- <label class="for-dropdown-sub" for="dropdown-sub"> <i class="uil uil-plus"></i></label>
                    <div class="section-dropdown-sub"> 
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                        <a href="#">Dropdown Link <i class="uil uil-arrow-right"></i></a>
                    </div> -->
                    <a href="/search/2/<%= query %>" class="dropdownLink">Z-A <i class="uil uil-arrow-right"></i></a>
                    <a href="/search/3/<%= query %>" class="dropdownLink">Mais Avaliados <i class="uil uil-arrow-right"></i></a>
                    <a href="/search/4/<%= query %>" class="dropdownLink">Menos Avaliados <i class="uil uil-arrow-right"></i></a>
                </div>
            </div>

        <div class="icon">

            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" class="swap-on">
                <path d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z" stroke-linejoin="round"
                    stroke-linecap="round"></path>
            </svg>

            <svg stroke-width="2" stroke="currentColor" viewBox="0 0 24 24" fill="none"
                xmlns="http://www.w3.org/2000/svg" class="swap-off">
                <path d="M10 19l-7-7m0 0l7-7m-7 7h18" stroke-linejoin="round" stroke-linecap="round"></path>
            </svg>

        </div>

        <button type="reset" class="close-btn">
            <svg viewBox="0 0 20 20" class="h-5 w-5" xmlns="http://www.w3.org/2000/svg">
                <path clip-rule="evenodd"
                    d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z"
                    fill-rule="evenodd"></path>
            </svg>
        </button>

    </label>

</form>


</div>
